<div class="pv-feature-area ax-section-gap theme-gradient-4 position-relative" id="feature">
  <div class="container wrapper">
      <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6 col-md-6 col-12">
              <div class="pv-section-title">
                  <h2>Pensando que desayunar <br />Pasa por nuestras tiendas</h2>
              </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-12 mt_sm--20">
              <div class="pv-subtitle-title">
                  <p>Estamos seguros que el olor a pan fresco te va a enamorar!! 😍
                  </p>
              </div>
          </div>
      </div>
      <div class="row">

          <!-- Start Single Feature  -->
          <div class="col-lg-4 col-md-6 col-12 mt--85 mt_md--30 mt_sm--30">
              <div class="pv-feature paralax-image">
                  <div class="inner">
                      <div class="icon">
                          <img src="assets/panes/pan-01.jpg" alt="Pan Integral">
                      </div>
                      <div class="content">
                          <h5 class="title">Pan Integral</h5>
                          <p>Manten la dieta, sin dejar de comer lo que te gusta. Hecho con la mejor arina integral sin gluten. </p>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End Single Feature  -->

          <!-- Start Single Feature  -->
          <div class="col-lg-4 col-md-6 col-12 mt--85 mt_md--30 mt_sm--30">
              <div class="pv-feature paralax-image">
                  <div class="inner">
                      <div class="icon">
                          <img src="assets/panes/pan-02.jpg" alt="Pan Chaplan">
                      </div>
                      <div class="content">
                          <h5 class="title">Pan Chaplan</h5>
                          <p>Como lo hacen en nuestra sierra peruana, pan tradicional con la reseta de la abuela.</p>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End Single Feature  -->

          <!-- Start Single Feature  -->
          <div class="col-lg-4 col-md-6 col-12 mt--85 mt_md--30 mt_sm--30">
              <div class="pv-feature paralax-image">
                  <div class="inner">
                      <div class="icon">
                          <img src="assets/panes/pan-03.jpg" alt="Pan Ojaldrado">
                      </div>
                      <div class="content">
                          <h5 class="title">Pan Ojaldrado</h5>
                          <p>El secreto de nuestra receta se basa en amazar y agregar capas a la maza para que encuentres siempre un pan crujiente.</p>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End Single Feature  -->

          <!-- Start Single Feature  -->
          <div class="col-lg-4 col-md-6 col-12 mt--85 mt_md--30 mt_sm--30">
              <div class="pv-feature paralax-image">
                  <div class="inner">
                      <div class="icon">
                          <img src="assets/panes/pan-04.jpg" alt="Pan Siete Semillas">
                      </div>
                      <div class="content">
                          <h5 class="title">Pan Siete Semillas</h5>
                          <p>Delicioso pan elaborado con semillas de nuestra pachamama, semillas de la mas alta calidad y sabor inigualable. rico en fibra, bajo en colesterol.</p>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End Single Feature  -->

          <!-- Start Single Feature  -->
          <div class="col-lg-4 col-md-6 col-12 mt--85 mt_md--30 mt_sm--30">
              <div class="pv-feature paralax-image">
                  <div class="inner">
                      <div class="icon">
                          <img src="assets/panes/pan-05.jpg" alt="Pan de Masa Madre">
                      </div>
                      <div class="content">
                          <h5 class="title">Pan de Masa Madre</h5>
                          <p>Simplemente no podemos describirlo, nuestro buque insignia.</p>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End Single Feature  -->
      </div>
      <div class="shape-group">
          <div class="shape shape-1">
              <img src="assets/shape/shape-09.svg" alt="Shape Images">
          </div>
          <div class="shape shape-2">
              <img src="assets/shape/shape-10.svg" alt="Shape Images">
          </div>
      </div>

  </div>
</div>
