<footer class="pv-footer-area pv-footer-styles theme-gradient-4 pt--110 position-relative">
  <!-- Start Copyright Area  -->
  <div class="pv-copyright-area ptb--120">
      <div class="container">
          <div class="row">
              <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2">
                  <div class="copyright-inner">
                      <div class="inner-left">
                          <p>© 2021. All rights reserved by Axilweb</p>
                          <ul class="liststyle d-flex quick-links">
                              <li><a target="_blank" href="https://themeforest.net/user/axilthemes/portfolio">MORE TEMPLATES</a></li>
                              <li><a target="_blank" href="http://axilthemes.com/demo/template/keystroke/privacy-policy.html">PRIVACY POLICY</a></li>
                          </ul>
                      </div>
                      <div class="inner-right">
                          <ul class="social-share style-rounded bg-color--white flex-nowrap">
                              <li><a target="_blank" href="https://www.facebook.com/axilwebltd/"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a target="_blank" href="https://dribbble.com/axilweb"><i class="fas fa-basketball-ball"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Copyright Area  -->
  <div class="shape-group">
      <div class="shape shape-1">
          <img src="assets/shape/shape-07.svg" alt="Shape Images">
      </div>
      <div class="shape shape-2">
          <img src="assets/shape/shape-08.svg" alt="Shape Images">
      </div>
  </div>
</footer>
