<div class="page-demo-area ax-section-gap theme-gradient-9 position-relative" id="demos">
  <div class="container wrapper">
      <div class="row align-items-center row--40">
          <div class="col-xl-6 col-lg-6 col-md-6 col-12">
              <div class="pv-section-title">
                  <h2>Nuestros pasteles son preparados con la receta de Doña Pepa</h2>
              </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-12 mt_sm--20">
              <div class="pv-subtitle-title">
                  <p>Recetas tradicionales, con un verdadero sabor natural que te hara revivir momentos del ayer.
                  </p>
              </div>
          </div>
      </div>
      <div class="row row--40">
          <!-- Start Single Demo  -->
          <div class="col-lg-6 col-md-6 col-12">
              <div class="single-demo">
                  <a target="_blank" href="home-01.html">
                      <div class="thumb box paralax-image">
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                          <img src="assets/pasteles/pasteles-01.jpg" alt="Creative Agency">
                      </div>
                      <h5 class="title">Pastel de Fresa</h5>
                  </a>
              </div>
          </div>
          <!-- End Single Demo  -->

          <!-- Start Single Demo  -->
          <div class="col-lg-6 col-md-6 col-12">
              <div class="single-demo">
                  <a target="_blank" href="home-02.html">
                      <div class="thumb box paralax-image">
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                          <img src="assets/pasteles/pasteles-02.jpg" alt="Creative Agency">
                      </div>
                      <h5 class="title">Pie de manzana </h5>
                  </a>
              </div>
          </div>
          <!-- End Single Demo  -->

          <!-- Start Single Demo  -->
          <div class="col-lg-6 col-md-6 col-12">
              <div class="single-demo">
                  <a target="_blank" href="home-03.html">
                      <div class="thumb box paralax-image">
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                          <img src="assets/pasteles/pasteles-03.jpg" alt="Creative Agency">
                      </div>
                      <h5 class="title">Pie de Cerezas</h5>
                  </a>
              </div>
          </div>
          <!-- End Single Demo  -->

          <!-- Start Single Demo  -->
          <div class="col-lg-6 col-md-6 col-12">
              <div class="single-demo">
                  <a target="_blank" href="home-04.html">
                      <div class="thumb box paralax-image">
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                          <img src="assets/pasteles/pasteles-04.jpg" alt="Creative Agency">
                      </div>
                      <h5 class="title">Pastel de Café</h5>
                  </a>
              </div>
          </div>
          <!-- End Single Demo  -->

          <!-- Start Single Demo  -->
          <div class="col-lg-6 col-md-6 col-12">
              <div class="single-demo">
                  <a target="_blank" href="home-05.html">
                      <div class="thumb box paralax-image">
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                          <img src="assets/pasteles/pasteles-05.jpg" alt="Creative Agency">
                      </div>
                      <h5 class="title">Pastel Fresa con Chocolate</h5>
                  </a>
              </div>
          </div>
          <!-- End Single Demo  -->

          <!-- Start Single Demo  -->
          <div class="col-lg-6 col-md-6 col-12">
              <div class="single-demo">
                  <a href="#">
                      <div class="thumb box paralax-image">
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                          <img src="assets/pasteles/pasteles-06.jpg" alt="Creative Agency">
                      </div>
                      <h5 class="title">CheseCake Frutos Salvajes</h5>
                  </a>
              </div>
          </div>
          <!-- End Single Demo  -->

      </div>
      <div class="shape-group">
          <div class="shape shape-1">
              <img src="assets/shape/shape-11.svg" alt="Shape Images">
          </div>
          <div class="shape shape-2">
              <img src="assets/shape/shape-11.svg" alt="Shape Images">
          </div>
      </div>
  </div>
</div>
