<!-- <app-main-body></app-main-body> -->

<div class="main-content">
  <div class="wrapper position-relative">
      <!-- Start Page Wrapper  -->
      <main class="pv-page-wrapper">
          <!-- Start Set Line  -->
          <div class="set-line-wrapper">
              <div class="set-line-area">
                  <div class="line-inner">
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                  </div>
              </div>
          </div>

          <app-main-nav></app-main-nav>
          <router-outlet></router-outlet>
          <app-main-footer></app-main-footer> 
          
      </main>
    </div>
  </div>