<div class="main-content">
    <h1 class="text-uppercase">Este mensaje es una prueba pe!</h1>
    <div class="wrapper position-relative">
        <!-- Start Page Wrapper  -->
        <main class="pv-page-wrapper">
            <!-- Start Set Line  -->
            <div class="set-line-wrapper">
                <div class="set-line-area">
                    <div class="line-inner">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

