<div class="pv-banner-wrapper theme-gradient-4">
    <div class="pv-banner-area paralax-area">
        <div class="container wrapper">
            <div class="row">
                <div class="col-lg-7">
                    <div class="inner pt--200 pt_sm--0 pt_md--0">
                        <h1 class="title wow slideFadeInUp" data-wow-duration="1s" data-wow-delay="500ms">
                          🎖️ Galardonada en el 2020 como la mejor panaderia tradicional de lima. </h1>
                        <a class="scroll-down-btn smoth-animation" href="#demos"><i class="bi bi-arrow-down-short"></i><span>Conoce nuestros <br> productos</span></a>
                    </div>
                </div>
            </div>
            <div class="theme-brief">
  
                <!-- Start Single Counter  -->
                <div class="single-counter">
                    <span class="subtile">Contigo desde</span>
                    <h2 class="title">1918</h2>
                </div>
                <!-- End Single Counter  -->
  
                <!-- Start Single Counter  -->
                <div class="single-counter">
                    <span class="subtile">Sedes</span>
                    <h2 class="title">5</h2>
                </div>
                <!-- End Single Counter  -->
  
                <!-- Start Single Counter  -->
                <div class="single-counter">
                    <span class="subtile">Ciudades</span>
                    <h2 class="title">3</h2>
                </div>
                <!-- End Single Counter  -->
            </div>
        </div>
  
        <div class="shape-group">
            <div class="shape shape-1">
                <img src="assets/shape/shape-01.svg" alt="Shape Images">
            </div>
            <div class="shape shape-2">
                <img src="assets/shape/shape-02.svg" alt="Shape Images">
            </div>
            <div class="shape shape-3">
                <img src="assets/shape/shape-03.svg" alt="Shape Images">
            </div>
            <div class="shape shape-4">
                <img src="assets/shape/shape-04.svg" alt="Shape Images">
            </div>
            <div class="shape shape-5">
                <img src="assets/shape/shape-05.svg" alt="Shape Images">
            </div>
            <div class="shape shape-6">
                <img src="assets/shape/shape-06.svg" alt="Shape Images">
            </div>
        </div>
  
        <div class="mokup-group">
            <div class="single-mokup mokup-1">
                <img class="paralax--1" src="assets/home/principal-02.jpg" alt="Mokup Images">
            </div>
            <div class="single-mokup mokup-2">
                <img class="paralax--2" src="assets/home/principal-01.jpg" alt="Mokup Images">
            </div>
            <div class="single-mokup mokup-3">
                <img class="paralax--3" src="assets/home/principal-03.jpg" alt="Mokup Images">
            </div>
        </div>
    </div>
  </div>

<!-- <app-home></app-home> -->
<app-pasteles></app-pasteles>
<app-pan></app-pan>
<app-ubicar></app-ubicar>
