<div class="choose-us-area bg-color-extra11 position-relative" id="chooseUs">
  <div class="ax-section-gap">
      <div class="container wrapper">

          <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                  <div class="pv-section-title">
                      <h2>¿Sabes donde encontrarnos? 🤤</h2>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-12 mt_sm--20">
                  <div class="pv-subtitle-title">
                      <p>Cada dia es una perfecta excusa para darte un gusto.</p>
                  </div>
              </div>
          </div>

          <div class="row">
              <!-- Start Single Choose Us Area  -->
              <div class="col-lg-4 col-md-6 col-12">
                  <div class="pv-choose-us paralax-image">
                      <div class="inner">
                          <div class="content">
                              <div class="icon">
                                  <img src="assets/sedes/sede-01.jpg" alt="">
                              </div>
                              <div class="title">
                                  <h5>San Isidro</h5>
                                  <h6>Lima</h6>
                                  
                              </div>
                          </div>
                          <div class="description">
                              <p>Encuentranos en el Jiron Junin 184 al costado de Metro</p>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End Single Choose Us Area  -->

              <!-- Start Single Choose Us Area  -->
              <div class="col-lg-4 col-md-6 col-12">
                  <div class="pv-choose-us bg-color-2 paralax-image">
                      <div class="inner">
                          <div class="content">
                              <div class="icon">
                                  <img src="assets/sedes/sede-02.jpg" alt="">
                              </div>
                              <div class="title">
                                  <h5>Maria del Mar</h5>
                                  <h6>Lima</h6>
                              </div>
                          </div>
                          <div class="description">
                              <p>Estamos ubicados en el Jiran Daniel Alcides Carrion 671</p>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End Single Choose Us Area  -->

              <!-- Start Single Choose Us Area  -->
              <div class="col-lg-4 col-md-6 col-12">
                  <div class="pv-choose-us bg-color-3 paralax-image">
                      <div class="inner">
                          <div class="content">
                              <div class="icon">
                                  <img src="assets/sedes/sede-03.jpg" alt="">
                              </div>
                              <div class="title">
                                  <h5>Lince </h5>
                                    <h6>Lima</h6>
                              </div>
                          </div>
                          <div class="description">
                              <p>Nos ubicamos en el Jiron Lince 123 al lado de 7 sopas</p>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End Single Choose Us Area  -->
          </div>
          <div class="row mt--40 mb_md--5 md_sm--5">
              <!-- Start Single Choose Us Area  -->
              <div class="col-lg-4 col-md-6 col-12 offset-lg-2 mt--85 mt_lg--40 mt_md--5 mt_sm--5">
                  <div class="pv-feature paralax-image online-documentation">
                      <div class="inner">
                          <div class="icon">
                              <img src="assets/sedes/sede-04.jpg" alt="">
                          </div>
                          <div class="content">
                              <h4 class="title primary-color">La <br>Oroya</h4>
                              <p>Calle mineros 567, altura plaza de armas</p>
                              <a target="_blank" href="http://axilthemes.com/docs/keystroke-html/" class="arrow-icon">
                                  <i class="fal fa-arrow-right"></i>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End Single Choose Us Area  -->

              <!-- Start Single Choose Us Area  -->
              <div class="col-lg-4 col-md-6 col-12 mt--85 mt_lg--40 mt_md--5 mt_sm--5">
                  <div class="pv-feature paralax-image datecated-support">
                      <div class="inner">
                          <div class="icon">
                              <img src="assets/sedes/sede-05.jpg" alt="creative Agency">
                          </div>
                          <div class="content">
                              <h4 class="title extra08-color">Arequipa <br>Ciudad Blanca</h4>
                              <p>Plaza de armas principal, costado derecho</p>
                              <a target="_blank" href="http://support.axilthemes.com/support/" class="arrow-icon">
                                  <i class="fal fa-arrow-right"></i>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End Single Choose Us Area  -->
          </div>

          <div class="shape-group">
              <div class="shape shape-1">
                  <img src="assets/shape/shape-12.svg" alt="Shape images">
              </div>
              <div class="shape shape-2">
                  <img src="assets/shape/shape-13.svg" alt="Shape images">
              </div>
          </div>
      </div>
  </div>
</div>

<div class="axil-call-to-action callaction-style-2 variation--2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="inner align-items-center">
                    <div class="text">
                        <h2 class="title">Que esperas, Vamos a desayunar!!</h2>
                        <p>¿Tienes alguna alergia? Antes de ordenar <a target="_blank" href="http://support.axilthemes.com/support/">Consulta nuestra tabla de ingredientes</a></p>
                    </div>
                    <!-- <div class="button-wrapper">
                        <a target="_blank" class="axil-button btn-large btn-solid btn-primary-color d-none d-md-block" href="https://themeforest.net/item/keystroke-creative-agency-template/26027216"><span
                                class="button-text">Comprar</span>
                                <span class="button-icon-right">
                                    <i class="bi bi-cart"></i>
                              </span>
                          </a>
                                    
                                    
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
